.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url("https://fonts.googleapis.com/css?family=Orbitron");

/*  ---------------- GLOBAL RETRO CSS ----------------   */

.global_retro_font {
  font-family: "Orbitron", sans-serif;
  color: rgb(74, 201, 206);
  letter-spacing: 2px;
}
.global_retro_button {
  padding: 10px 10px 8px 10px;
  color: rgb(74, 201, 206);
  letter-spacing: 2px;
  border-style: outset;
  border-width: 2px;
  border-color: rgb(255, 84, 255);
  width: auto;
  height: auto;
  font-size: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.global_retro_x_circle {
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  z-index: 6;
  float: right;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  background-image: url("./components/Home/fixedx.png");
  background-size: 100% 100%;
}

.global_retro_inputboxes {
  border-style: inset;
  border-color: rgb(255, 84, 255);
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(74, 201, 206);
  z-index: 5;
}
.global_retro_popupboxes {
  background-color: rgb(35, 17, 36);
  border-style: outset;
  border-color: rgb(255, 84, 255);
  border-width: 2px;
}
.global_retro_fancy_title_line {
  background-color: rgb(74, 201, 206);
}
.global_retro_yournewpost_button {
  border-style: outset;
  background-color: rgb(35, 17, 36);
  color: rgb(74, 201, 206);
  border-color: rgb(255, 84, 255);
  font-family: "Orbitron", sans-serif;
  font-size: 13px;
}
.global_retro_loginbuttons {
  padding: 10px 10px 8px 10px;
  color: rgb(74, 201, 206);
  letter-spacing: 2px;
  border-style: outset;
  border-width: 2px;
  border-color: rgb(255, 84, 255);
  width: auto;
  height: auto;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(35, 17, 36);
  font-family: "Orbitron", sans-serif;
}
.global_retro_title_text {
  font-family: "Orbitron", sans-serif;
  max-width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(74, 201, 206);
}
