

.homeflex{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:700');

.navz {
    height: 120px;
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: 110vw;
    background-position-y: -580px;
    background-position-x: -7px;
    color: rgb(200, 185, 253);
    width: 100vw;
    top: 0px;
    left: 0px;
    position: static;
    border-width: 6px;
    border-bottom-style: outset;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.dreamnotesfont{
    font-family: 'Cabin Sketch', cursive;
    font-size: 60px;
}

.loginbuttons{
padding: 10px;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
align-content: stretch;
}
.loginbutton{
    background-color: rgb(0, 54, 146);
    border-radius: 530px;
    margin-bottom: 10px;
    padding: 7px;
    color: white;
}

.bodybackground{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
        position:relative;
    position: sticky;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
}
backgroundcolor{
background-color: rgb(255, 0, 0);
position: absolute;
width: 100vw;
height: 100vh;
}