


.homeflex{
    display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:700');
  @import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
  
  .newpostnavz {
    height: 120px;
    background-image: url(../Home/banner.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position-y: -500px;
    background-position-x: -7px;
    color: rgb(41, 187, 255);
    width: 100vw;
    top: 0px;
    left: 0px;
    position: static;
    border-width: 6px;
    border-bottom-style: outset;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  }
  
  .newpostdreamnotesfont{
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
    text-decoration: none;
    color: rgb(74, 195, 252);
  }
  
  .yourdreamfont{
    font-family: 'Covered By Your Grace', sans-sarif;
    font-size: 30px;
  
  }
  
  
  .bodybackground{
    background-image: url(../Home/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
    
  }

  .flexorganizer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    padding-bottom: 400px;
  }



  .spantext {
      color: rgb(200, 185, 253);
  }
  
  .filler{
    width: 200px;
  }

.titletext{
    width: 30vw;
    font-size: 12pt;
}

.storytext {
    min-height:200px;
    font-size: 12pt;
    width: 50vw;
}