@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch:700");
@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace");

.newpostdreamnotesfont {
  font-family: "Cabin Sketch", cursive;
  font-size: 40px;
  text-decoration: none;
  color: rgb(74, 195, 252);
}

.yourdreamfont {
  font-family: "Covered By Your Grace", sans-sarif;
  font-size: 10px;
}

.sliderIn {
  animation-name: newPostSlider;
  animation-duration: 0.5;
  animation-fill-mode: forwards;
  -webkit-animation-name: newPostSlider;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}
@keyframes newPostSlider {
  0% {
    right: -100%;
  }
  100% {
    right: 2.5%;
  }
}
@-webkit-keyframes newPostSlider {
  0% {
    right: -100%;
  }
  100% {
    right: 2.5%;
  }
}

.newpostbackground {
  background-color: rgb(35, 17, 36);
  background-repeat: no-repeat;
  border-style: outset;
  border-color: silver;
  border-width: 2px;
  position: absolute;
  z-index: 5;
  min-height: 95vh;
  min-width: 95vw;
  right: 2.5%;
  top: 2%;
}

.newpostflexorganizer {
  top: 10%;
  left: 25%;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.spantext {
  color: rgb(200, 185, 253);
  margin-top: 3%;
}

.filler {
  width: 200px;
}

.titletext {
  width: 30vw;
  font-size: 12pt;
}

.spantext input {
  background-color: rgba(0, 0, 0, 0);
}

.storytext {
  min-height: 200px;
  font-size: 12pt;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-style: inset;
  color: white;
}
.influencespandivs {
  color: rgb(200, 185, 253);
  width: 20vw;
}
.influencetext {
  min-height: 100px;
  font-size: 12pt;
  width: 18vw;
  border-style: inset;
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.organizeinfluenceboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin-top: 3%;
}
.newposttitletext{
  font-size: 300%;
}